# Ignorar entornos virtuales
venv/
.env/
env/

# Ignorar cachés de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar bases de datos locales y temporales
*.db
*.sqlite

# Ignorar configuraciones del editor
.vscode/
.idea/

# Ignorar logs
*.log

# Ignorar bd
*.db